@import 'variables';

.banner {
    color: $textSecondary;
    font-size: 1.5em;

    width: 100%;
    padding: 4em 0;
    background-color: $bgSecondary;
    text-align: center;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}

#arrow-down {
    width: 100px;

    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    animation: bounce 1.5s ease-in-out infinite alternate;
}

@keyframes bounce {
    from {
        top: 80%;
    }

    to {
        top: 85%;
    }
}